<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Vue Playground</h1>
    <div id="app">
        <hr>
        <!-- Toggle showText -->
        <button @click="toggleShowText">Show/Hide Text</button>

        <!-- Show this HTML if showText is true -->
        <div v-if="showText">
            <h2>{{ title }}</h2>
            <!-- Outputting a variable or dynamic value inside template -->
            <p>Number: {{ number }}</p>
            <!-- Click event listeners on buttons -->
            <button v-on:click="number++">Increase Number</button>
            <button v-on:click="number--">Decrease Number</button>
            <!-- Click event listener for div -->
            <h2 @click="changeText('The text has changed')">
                Click here to change the text
            </h2>
        </div>

        <!-- Show this HTML if showText is false -->
        <div v-if="!showText">
            <h2>The text is hidden...</h2>
        </div>
        <hr>

        <!-- Display HTML using v-show instead of v-if -->
        <p v-show="showText">This specific text will be displayed or hidden by v-show depending on the value of
            the showText property
        </p>
        <br>
        <!-- Mouse events -->
        <div v-show="showBoxes">
            <h2>Interact with the boxes to trigger events</h2>
            <div class="box" @mouseover="handleEvent($event, 5)">mouse over</div>
            <div class="box" @mouseleave="handleEvent">mouse leave</div>
            <div class="box" @dblclick="handleEvent">double click</div>
            <div class="box" @mousemove="handleMousemove">position: {{x}}, {{y}}</div>
        </div>
        <button @click="toggleShowBoxes">Show/Hide Boxes</button>
        <hr>

        <!-- Outputting Lists -->
        <h2>List of Anime I Like</h2>
        <button @click="toggleShowList">Show/Hide Anime List</button>
        <div v-show="showList">
            <p>Ongoing shows are highlighted green</p>
            <ul>
                <li v-for="item in animeShows" :class="{ fav: item.fav, ongoing: item.ongoing }" @click="toggleFav(item)">
                   <h3>{{ item.title }}</h3> 
                   <p>{{ item.studio }}</p>
                   <img :src="item.imgURL" :alt="item.title" height="150" width="100"> <!-- binding data to these image tags-->
                   <p v-show="item.ongoing"><b>ONGOING</b></p>
                </li>
            </ul>
        </div>
        <hr>

        <!-- Attribute/Data Binding -->
        <a v-bind:href="urlToBind" target="_blank">Using v-bind, I attached the YouTube link to this attribute tag</a>
        <hr>

        <!-- Computed Properties -->
        <h2>Favorite Anime</h2>
        <button @click="toggleFavList">Show/Hide Favorites List</button>
        <div v-show="showFavorites">
            <ul>
                <li v-for="item in filteredShows" :class="{ fav: item.fav }">
                   <h3>{{ item.title }}</h3> 
                   <p>{{ item.studio }}</p>
                   <img :src="item.imgURL" :alt="item.title" height="150" width="100"> <!-- binding data to these image tags-->
                   <p v-show="item.ongoing"><b>ONGOING</b></p>
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>