.box {
    padding: 100px 0;
    width: 200px;
    text-align: center;
    background: #ddd;
    margin: 20px;
    display: inline-block;
}

ul {
    display: flex;
    flex-direction: row;
}

li {
    list-style-type: none;
    background-color: rgb(62, 170, 170);
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 5px;
    text-align: center;
    align-items: center;
}

.ongoing {
    background-color: aquamarine;
}

.fav {
    background-color: rgb(255, 96, 96);
}
